[submodule "ft_libft"]
	path = ft_libft
	url = https://github.com/EniddeallA/ft_libft
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/EniddeallA/get_next_line
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/EniddeallA/ft_printf
[submodule "Ft_server"]
	path = Ft_server
	url = https://github.com/EniddeallA/Ft_server
[submodule "miniRT"]
	path = miniRT
	url = https://github.com/EniddeallA/miniRT
[submodule "Pipex"]
	path = Pipex
	url = https://github.com/EniddeallA/Pipex
[submodule "Libasm"]
	path = Libasm
	url = https://github.com/EniddeallA/Libasm
[submodule "Inception"]
	path = Inception
	url = https://github.com/EniddeallA/Inception
[submodule "Philosophers"]
	path = Philosophers
	url = https://github.com/EniddeallA/Philosophers
[submodule "Minishell"]
	path = Minishell
	url = https://github.com/EniddeallA/Minishell
